body{
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(8, 196, 233) 100%);
  font-family: 'Montserrat', sans-serif;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1{
  font-size: 2em;
  color: #fff;
}

.container h2{
  font-size: 4em;
  color: #fff;
  padding: 0 0;
}


button{
  width: 200px;
  padding: 10px 0 10px ;
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}


#increment-btn{
  background-color: #fff;
  color: #000;
  font-size: 1em;
  font-weight: 600;
}

#save-btn{
  background-color: #fff;
  color: rgb(8, 196, 233);
  font-weight: 600;
  font-size: 1em;
}

#save-el{
  font-size: 24px;
}